.course-action{
    cursor: pointer;
}
.buttonBadge{
    height: 20px;
    width: 20px;
    padding: 0px !important;
    font-size: 12px;
}
.table > :not(caption) > * > *{
    border: none;
}
.infoRow td{padding-top: 35px;}
.table tbody:hover{
    background-color: #dedede;
}
.btn{cursor: pointer;}